<div id="<%= dom_id service %>">
  <p>
    <strong>Title:</strong>
    <%= service.title %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= service.category %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= service.description %>
  </p>

</div>
