<p style="color: green"><%= notice %></p>

<h1>Attorneys</h1>

<div id="profiles">
  <% @profiles.each do |profile| %>
    <%= render profile %>
    <p>
      <%= link_to "Read More", profile %>
    </p>
  <% end %>
</div>

<%= link_to "New profile", new_admin_profile_path, class: "btn btn-primary" %>
