<div class="page-header">
  <h1>We've Received your Mail</h1>
</div>
<p>
  We will reach out to you shortly.
</p>
<%= image_tag "mail_sent.png" %>
<p>
  In the meantime feel free to read our <%= link_to "Blog", articles_path %>
</p>