@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Varela&display=swap");

body{
  font-family: 'Montserrat', sans-serif !important;
}
#navbar-items{
  font-size: 1.2em;
  font-weight: 300;
  a, a:link, a:visited, a:hover{
          display: block;
          text-decoration: none;
          color: #1C3156;
          background-color: transparent;
        }
}

#banner{
  background-image: url('banner1.png');
  height: 480px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  font-family: 'Varela', sans-serif !important;

}
#banner-text{
  padding: 20px 10px;
  font-size: 3em;
  font-weight: lighter;
  color: #fff;
}

.home-panel{
  height: 350px;
  padding: 20px;
  margin-top: 20px;
  h2{
    padding-bottom: 10px;
  }
}

#home-about{
  background-color: #1C3156;
  color: #fff !important;
  h2{
    border-bottom: #ffffff solid 1px;
  }
  p{
    font-size: 1.2em;
  }
}

#home-news{
  background-color: #D8D8D8;
  h2{
    border-bottom: #000000 solid 1px;
  }
}

#home-practice-areas{
  padding-top: 50px;
  padding-bottom: 100px;
}

#home-practice-header{
  text-align: center;
  color: #1C3156;
  margin: 20px auto;
  font-weight: lighter;
  font-size: 51px;
}
.pa-section{
  text-align: center;
  color: #1C3156;
  font-size: 24px;
  margin: 20px auto;
  .pa-image-holder{
    background-color: #D8D8D8;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: #979797 solid 1px;
    padding: 10px;
    margin: 0 auto;
    img#real-estate-img{
      margin: 25% auto;
    }
    img#corporate-img{
      margin: 40% auto;
    }
    img#dispute-img{
      margin: 20% auto;
    }
    img#tort-img{
      margin: 20% auto;
    }
    img#admin-img{
      margin: 25% auto;
    }
    img#ip-img{
      margin: 25% auto;
    }
  }
}

#main-footer{
  margin-top: 20px;
  background-color: #D8D8D8;
  padding: 50px 50px;
  #legal-information{
    margin-top: 10px;
    text-align: center;
  }
}

.page-header{
  h1{
    color: #1c3156;
    border-bottom: #979797 solid 1px;
  }
  margin-bottom: 20px;
}

#news-alerts{
  list-style: none;
  padding-left: 0px;
  li{
    border-bottom: #000 solid 1px;
    min-height: 50px;
  }
}

#landing-banner{
  margin: 40px auto;
  text-align: center;
  border-bottom: #979797 solid 1px;
  .landing-notice{
    margin-top: 20px;
    font-size: 2em;
    font-style: italic;
  }
  .motto{
    margin-top: 10px;
    i{
      font-size: 0.6em;
      margin-bottom: 2px;
    }
  }
}


.component{
  background-color: #fff;
  border: #979797 solid 1px;
  border-radius: 3px;
  margin-bottom: 30px;

  .list-group{
    margin-bottom: 0px;
  }

  header{
    border-bottom: #e1e1e1 solid 1px;
  }
}

.component-heading{
  border-bottom: #e1e1e1 solid 1px;
  padding: 10px;
  font-size: 1.2em;
}

.component-body{
  padding: 10px;
}

.component-item{
  padding: 10px;
  border-bottom: #e1e1e1 solid 1px;
}

.component-item:last-child{
  border-bottom: none;
}

.no_content{
  text-align: center;
  i{
    font-size: 6em;
  }
}

.admin_header{
	background-color: #fff;
	border: #979797 solid 1px;
	padding: 10px;
	border-radius: 8px;
	margin-bottom: 30px;
	h1{
		margin-top: 0;
		padding-bottom: 15px;
		border-bottom: #e1e1e1 solid 1px;
    color: #313131;
    font-weight: lighter;
	}
	ul{
		padding: 5px 0;
		margin: 0;
		list-style: none;
		li:not(.dropdown-item){
			display: inline;
			margin-right: 30px;
			text-transform: uppercase;
			font-weight: bold;
			font-size: 0.8em;
			padding-bottom: 3px;
			a, a:link, a:visited, a:hover{
				text-decoration: none;
				color: lighten(#000, 20%);
				background-color: transparent;
			}
		}
		li:last-child{
			margin-right: 0;
		}
		.active_nav, .bill_nav_item{
			border-bottom: #A01D26 solid 5px;
		}
	}
}

trix-editor{
  min-height: 600px;
}

@media only screen and (max-width: 576px) {
 .home-panel{
  height: inherit;
 }
}