<p style="color: green"><%= notice %></p>

<h1>Our Practice</h1>

<div class="page-description">
  We are a full-service law firm practising primarily in civil litigation, corporate and commercial,
  intellectual property and administrative & constitutional law.
</div>
<ul id="practice-listing" class="list-group">
  <% @practice_areas.each do |practice_area| %>
    <li class="list-group-item"><%= link_to practice_area.title, practice_area_path(practice_area) %></li>
  <% end %>
</ul>

