<div class="page-header">
<h1><%= @practice_area.title %></h1>
</div>
<div class="page-description">
  <%= @practice_area.description %>
</div>
<ul class="list-group">
  <% @practice_area.services.each do |service| %>
    <li class="list-group-item"><%= link_to service.title, practice_area_service_path(@practice_area, service) %></li>
  <% end %>
</ul>
<br>
<div>
  <%= link_to "Back to #{@practice_area.title}", practice_area_path(@practice_area) %>
</div>
